/* Place any SASS in here */
.fab-card {
	color: red;
	font-weight: bold;
	position: relative;
	cursor: pointer;
	img {
		display: none;
		position: absolute;
		left: 50%;
		top: 100%;
		transform: translateX(-40%);
		z-index: 10;
		max-width: 400px;
		max-height: 400px;
		box-shadow: 0 2px 16px rgba(0,0,0,0.3);
		background: #fff;
		border-radius: 8px;
		padding: 4px;
	}
}

.fab-card:hover {
	color: blue;
}
.fab-card:hover img {
	display: block;
}